<head>
<meta charset="ascii">
<meta name="viewport" content="width=device-width;">

<style>
body {
  font-size: 30pt;
}

pre code {
  background-color: rgba(255, 0, 0, 0.746);  
}
</style>
</head>
<body>
To reset the changed / altered console color. Paste the below line.
<pre>
<code>
[Console]::ResetColor()
</code>
</pre>
</body>