<head>
   <meta charset="ascii">
   <meta name="viewport" content="width=device-width;">
 <link rel="stylesheet" href="vote.css">
</head>

<body>

<p id="trumpets">
DO VOTE <br>
DO VOTE <br>
DO VOTE <br>
</p>

<p id="trumpets">
DO VOTE <br>
DO VOTE <br>
DO VOTE <br>
</p>


<button onclick="onbtnclick()" style="font-size: 29pt;">Click to Vote!</button>


</body>