<head>
    <meta charset="ascii">
<link rel="stylesheet" href="new.css">
</head> <h2 id="migrating-to-alternative-platform">migrating to alternative platform.</h2> <p>migrating to more suitable platform.</p> <p>goodbye.</p>
