

strong {    
color: rgb(110, 170, 190); }

code {
    font-family: monospace;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Arial, Helvetica, sans-serif; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 29pt;
}


code.no_language{
    /* background-color:  */
    width: 800px;
    height: 200px;
    background-size: 100px, 100px;

    /* background-image: linear-gradient(to right,#9e5d21 , #b87333 85%, #7a5901); nice */
    background-image: linear-gradient(to right,#9e5d21 , #b87333 85%, #7a5901),  radial-gradient(#2a0553 20%, transparent 10%);
     /* rgba(196, 133, 16, 0.911); */
     /* , rgba(85, 18, 7, 0.863) 50% */

}

code.language-c {
    background-color: rgba(173, 51, 13, 0.801);
}

code.language-python {
    background-color: rgba(74, 138, 11, 0.733);
}

