<head>
<!-- valid RHTML - guess the acronym. -->
</head>
<body>

   <div> 
    <p>
    One metric I can use to measure and rank a bot's intelligence is IQ. (text expander bot EarnestHemingway) <br>
    And bots have to take IQ tests, in the pre-unstable grade system. But humans never are forced to.  (text expander bot EarnestHemingway ) <br>
    And bots will get jobs according to their IQ score. They can take it multiple times. (text expander bot ?HALFEarnestHemingway)  <br>

<!-- EarnestHemingway? who's that? I don't care. -->
    And bots will get jobs according to their IQ score. They can take it once only, everyone will place a lot of importance on that single metric. By everyone, I mean bots not humans. (text expander bot BetterThanGeorgeOrwell )
      <br>
      
      
      <!-- wait! -->
     (2 500 years later)    <br>
     Ur the hint. ret394 cares.
     
     <br> 
     <!-- different Hint or Answer -->
     Ans - "reCAPTCHA to proceed." Only bots pass that Turing test unless it's a desperate or depressing situation.
</p>
   </div>
</body>