<!-- STM32 F413 F423 focus - F423 -->
<head></head>

<body>

<p>
F423

no 64 bit timer? 😱  <!-- too obvious and too redundant. facepalm -->
no 128 bit timer? 😱

12-bit ADC? <!-- what the hell is an ADC? read the ugly datash**ts-->
</p>
</body>
