<p>
something about the X demo which must have disappeared, zombie code stalking me since weeks ago, repo in https://gitlab.com/ret394 namespace.

Link - https://gitlab.com/ret394/wqeqwe

Which I deleted but shows up in my workflow and is super confusing. Trying to be extremely polite, according to developers like me.

<!-- It has been bugging me for a long time but I am not gonna. -->
</p>

<footer>
Author - ret394
</footer>