<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width;">
<link rel="stylesheet" href="code2dev.css"> 

</head>


<body>
<pre>
  

<code class="language-c">

// gcc version: 6.5.0
// gcc -std=gnu99
#include &ltstdio.h&gt

int main()
{

//   int rem[] = {  [0 ... 4]=1 }; // GNU C extensions
  int rem[4] = {1};

  for (int i=0;i<4;i++)
  { printf("%d\n", rem[i]); }

  //ISO C : init to 0 -> 4 zeros
  //ISO C : init to 1 -> 1 one 3 zeros
  //GNU C : init to 0 ->4 0s
  //GNU C : init to 1 ->4 1s
  return 0;
}
</code>
</pre>

</body>