<head>
   <meta charset="ascii">
   <meta name="viewport" content="width=device-width;">
 <link rel="stylesheet" href="code2dev.css"> 
 <link rel="stylesheet" href="new.css">
<h1 id="how-to-make-a-download-page-pt2"> How to make a download page pt2 </h1>

<p>
How not to make that webpage. <br>
1. Visitors can't see the version. <br>
2. Change it so they can. <br>
Simple! Prof. grade Web Dev tips.
</p>

<pre><code class="language-python">
# 
   import os
   import 'readable code&#39;
   
 print readable_code

# not c or c++ or c# or java or ruby code. Similar to haskell language.
for i in range(1,2):
   print(os.curdir)
</code></pre>

<button onclick="onbtnclick()" style="font-size: 29pt;">Click me!</button>
<br>
<a href="July2020 after15 how to make a download page.html">Go to part1</a>

<template>
   <h2>Hint</h2>
   <p>The indentation being a more coupled part of the language syntax.</p>
</template>

<script>
   function onbtnclick() {
      var tp = document.getElementsByTagName("template")[0];
      var cl = tp.content.cloneNode(true);
      document.body.appendChild(cl);
   }
   
if (document.createElement("template").content) {
//   document.write("Your browser supports template tag!");
} else {  document.write("Your browser does not support template tag!"); 
}
</script>
<!-- The python code errors are intentional. -->
