<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width;">
<link rel="stylesheet" href="code2dev.css">
<style>
  body p {
    font-size: 30pt;
  }
   body b {
     background-color: green;
   }
</style>
</head>

<body>
<!-- edit: damn it is bad. -->

<h1>
  Title : my mistake
</h1>



<p>
It is okay to be behind schedule in open source SDLC. It is not a bad thing at all. 
Relax a bit, ignore the misinformation.

Check out clang 7 or later releases, their documentation on <b> https://releases.llvm.org/  </b>
</p>

<pre>
  
<code class="language-c">
#include &ltstdio.h&gt

// clang or c language of environment - Repl.it version 732ba07
// from output on stdout stream on first page load
// clang version 7.0.0-3~ubuntu0.18.04.1 (tags/RELEASE_700/final)
// from output on stdout stream when run button is clicked
// clang-7 -pthread -lm -o main main.c
// ./main

// same output in website tio.run/#c-gcc
// gcc version: 8.3.1
// with and without 2 compiler flags -Wall -Wpedantic


int main(void) {
  int q=2; 
  int r;
  q = q/2;
  r = q%2;
  printf("result %d %d ",q,r);
  return 0;
  // exact output:
  //result 1 1
} 
</code>
</pre>

<pre>
  
<code class="language-c">
#include &ltstdio.h&gt

int main(void) {
int r=0;
int q = 2/2;
r = 2%2;
printf("result %d %d ",q,r);
return 0;
  // exact output:
  //result 1 0
}
</code>
</pre>

<p>
  
  Good chance for application of - Haste makes waste.
</p>


</body>