<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width;">
<link rel="stylesheet" href="code2dev.css"> 
</head>
<body>

<pre>
<code class="language-c">

// gcc version: 7.3
// gcc -std=gnu99
#include &ltstdio.h&gt

int main()
{

  int rem[] = {  [0 ... 4]=1, [5 ... 9]=2 }; // GNU C extensions

  for (int i=0;i<4;i++)
  { printf("%d\n", rem[i]); }

  return 0;
}
</code>
</pre>
</body>