<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width;">
    <style>
        body  p,a {
            font-size: 30pt;
        }
        
        body  h1 {
            font-size: 30pt;
        }
        
        body h2 {
            font-size: 25pt;
        }
    </style>
  </head>
<body>

<h1>MANUALS</h1>


<h2> Solve problems </h2>
<p>
Tools that don't need a manual.
    
</p>


<h2>Create problems</h2>
<p>

Tools that need a manual.
</p>
<p>
Tools that need a manual, but don't have one.
<br>
Tools that have a manual which start with "How to read this manual".
</p>

    
<!-- <p>Found it! There's an XKCD comic strip about this theme.</p> -->
<a href="https://xkcd.com/1343/">MANUALS<a></a>
</body>