<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width;">
  <link rel="stylesheet" href="code2dev.css"> 
  <style>
      body h1 {
        font-size: 35pt;
      }
      body h2 {
        font-size: 30pt;
      }
      body p {
          font-size: 30pt;
      }
      body ul>li {
        font-size: 30pt;
      }
      body p.concl {
          background-color: cyan;
      }
      body pre>code {
        font-size: 30pt;
        background-color: green;
      }
  </style>
  </head>
<body>
    
<h1>
    About the C code range initializers
</h1>

<p>
    Link to code -
    <a href="July2020 before31 C compilers - GNU C range initializers.html">GNU C range initializers
    </a>
</p>

<p>
This can be called initialization of all array elements, informally speaking.
Use only -std=gnu99 for this C program, to keep it simple to reason about. Run with gcc 7.3 or above(example - gcc 8) for x86 platform (example - Intel, AMD desktop processors).

<p>
    Formally, you can read about it in canonical gcc toolchain <a href="https://gcc.gnu.org/onlinedocs/"> docs</a> as  'range initializer' under <b>
    Section 6.29 Designated Initializers.</b>
</p>

<p>
In same section, we can see the example for another common use-case - 
</p>
<pre>
<code>

int widths[] = { [0 ... 9] = 1, [10 ... 99] = 2, [100] = 3 };
</code>
</pre>
</p>

    <p>For non-Windows Operating System</p>
    <pre>
<code>
gcc -std=gnu99 filename.c
</code>
    </pre>
    <p>OR for Windows</p>
    <pre>
<code>
gcc.exe -std=gnu99 filename.c
</code>
    </pre>
    
<p>
4 element array.
</p>

<ul>
<li>
    Element 1 is rem[0]
</li>
<li>
    Element 2 is rem[1]
</li>
<li>
    Element 3 is rem[2]
</li> 
<li>
    Element 4 is rem[3]
</li>
</ul>


<h2>In the for loop. </h2>

<p>
The for loop is how you iterate through elements of array.
The C language does not provide a built-in, convenience method to print an array. Like it does for file Input/Output.
<p>
<p>
The newline (\n in quotes) after format string is not necessarily the best way in all cases, here it ensures each numeral (or number)
is printed out on new line.

The return code, by convention is zero for successful or as-expected execution, see the return statement.
It can be safely omitted for programs which are trivial and not expected to be used with a shell program.
<p>
    
<p class="concl">
For now remember this -
It all works this way because of the compiler source code.          
</p>

</body>