<head>
  <meta charset="ascii">
  <meta name="viewport" content="width=device-width;">
<link rel="stylesheet" href="code2dev.css"> 
<link rel="stylesheet" href="new.css">
<h1 id="how-to-make-a-download-page">how to make a download page</h1>
<p><a href="https://www.microsoft.com/en-us/edge">https://www.microsoft.com/en-us/edge</a></p>
<p>Beta and other versions <a href="https://www.microsoftedgeinsider.com/en-us/download/">https://www.microsoftedgeinsider.com/en-us/download/</a></p>
<p>
<a href="i/edge download page.PNG" target="_blank" style="padding-right: 10pt;">Screenshot 1</a>

<a href="i/edge insiders download page.PNG" target="_blank">Screenshot 2 - Insiders page</a>
</p>
<p>Time stamp: Unix Epoch    1594894777
Time (UTC)    Thu Jul 16 10:19:37 2020 UTC</p>
<p>All in all for a fine example of design ...</p>
<pre><code class="language-python"># 
   import os
   import &#39;readable code&#39;

 print readable_code</code></pre>
