<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width;">
<link rel="stylesheet" href="code2dev.css">
<style>
body p {
font-size: 30pt;
}
body ol {
  font-size: 25pt;
}

body code.lol {
  background-color: chocolate;
}
</style>
</head>
<body>
<p>
  It's a logical bug that shifts the order of operations.
</p>

<pre>
  

<code class="language-c">
#include &#60stdio.h&#62

// try options
//-Wpedantic -Wall -Og
//-Wpedantic -Wall -O0
//-Wpedantic -Wall -Wextra -O0

    
// problem 
// suspect - compiler bug?

int main()
{
printf("gcc version: %d.%d.%d\n",__GNUC__,__GNUC_MINOR__,__GNUC_PATCHLEVEL__);


  int q=2; 
  int r;
  q = q/2;
  r = q%2;
  printf("result %d %d %d",q,r, 2%2);
  return 0;
  // exact output:
  //gcc version: 8.3.1
  // result 1 1 0

return 0;
}
</code>
</pre>

<pre>
  

<code class="language-c">
#include &#60stdio.h&#62
//solution 


int main()
{
printf("gcc version: %d.%d.%d\n",__GNUC__,__GNUC_MINOR__,__GNUC_PATCHLEVEL__);

  int q=2; 
  int r=0;
  r = q%2;
  q = q/2;
  printf("result %d %d",q,r);
  return 0;
  // exact output:
  //result 1 0

return 0;
}
</code>
</pre>


<ol>
<li> I messed up. </li>
<li> I almost messed up. Reporting it, I mean. :-)</li>
</ol>

<p id="riddle">
The error message from an unrealistic, nonexistent, but trusted tool. That is never ever wrong, unless it's a pre-release or non-stable
  version.
  <!-- cuurently is keyword -->
</p>
    
<code class="lol"> Developer Error: Take regular breaks while coding. </code>

</body>