a, p, div, h2 {
    font-size: 29pt;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code.language-go {
background-color: rgba(173,216,230, 0.733);
    font-size: 20pt;
}