<!-- META -  "version": "0.7.9.60". Started after Nov 2020 -->

<!-- WIP priority 2 - redo this part, warn them nicely. -->
<p>
    <h1>The COVID 19 crisis and the role of Tech</h1>

    <p>Tech is the lovely short form of the word technology.  </p>
    
    If you want to read about it's outdated breakdown that is commonly used in school textbooks, or the semantic drudgery for
    the learned experts, read Wikipedia article.
</p>
<p>
    
A bit of a gloomy forecast. 

You guys done messed up your career prospects. And for what? More money, more entertainment. I hope you did not buy more cocaine to boost your creativity, you great fountain of creativity.

All you had to do was stick to building web sites that aggregate the statistics. No need to act all sciency and objective, it seems way too forced. Like someone who has never learnt to jump awkwardly on one leg, suddenly one day, deciding to compete in a marathon in the International events in earnest. Not like a normal person would do, in jest, but in earnest! I have to admire your courage, if it is courage and not something else.

And if you think consulting with professors and using trusted citations will cover up the blemishes, I hope you are right. And that no one can detect them beofre you retire or die, a respectable and responsible member of society. An upstanding citize, one that everyone should aspire to emulate or to copy.

And if you think your 50 years of experience will make any difference, I hope you are right. I hope as you might, that experience cures stupidity. That long periods of toil, using the help of many friends can change the way a person thinks about the world.

And if you think your friends and connections will make any difference, I hope you are right. I hope as you might, that friends can protect you no matter what you do. After all, a friend in need, is a friend indeed. Or to avoid insulting friendship, let us say that the proverb begins with 'a friend in dire need'. So, my talented researchers, the full proverb is 'a friend in dire situation, is a friend indeed'. If you got stumped, yes I am always correct.

A bit of a gloomy forecast.  Before the storm actually arrives.
<br>

<h1>Disclaimer for some confusing sentences </h1>

"I am always correct." Is an over the top statement. I am not always right, no average human can be. Maybe it displays an excessive amount of confidence, maybe it is hubris, or it is surely overconfidence.

And being hasty never helped anyone. And I can be quite hasty, I can attest from my own experience that hastiness must be avoided.

I hope you pray that I am hasty and overconfident and prone to jumping to conclusions. 

<br>
The <em>summary</em> is 'Pray to the winds. And please do start now. I hope the most industrious of experts among you prayed everyday.'
</p>

<p>
    <h1> The prayer </h1>
    <!-- WIP priority 1 - do this part, they are dumb ones. But I am smart, so I must enjoy this to avoid committing suicide from the potential stupidity reported by my extra sense organ.
    Though more humans should use that sense organ. -->
</p>