<body>
    <h1>A Father's letter - Number 1</h1>
 To my kids 
 <!-- my perverse wayward sons -->
 "a DMZ or demilitarized zone is a physical or logical subnetwork that "

 allows me, quite regrettably to view your private information. For free.

 - Your Father

 PS - Mulitple DMZs?  <!-- TOFL! btw PS means Postscript, and Postscript means PS. -->
 <!--  the noob -->
</body>