
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 40pt;
}

p#silence {
    font-family: sans-serif;
}

p#applause {
    font-family: sans-serif;
}

button {
    font-size: 40pt;
}